* {
  box-sizing: border-box;
  color: #000000 ;
  /* font-weight: 500; */
}

.login-module {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-block: 35px;
}

form {
  width: 100%;
  display: flex;
  padding: 0 1rem;
}


.login-box {
  width: 570px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ababab;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 2rem 3.375rem;
  margin:  0 auto;
}

.login-module .login-btn {
  width: 100%;
  height: 50px;
  border: none;
  background: #f9a51a;
  background-size: 200%;
  color: #000000;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.login-module .login-btn:hover {
  background:#da8a06
} 


.login-box a{
  color: #F9A51A
}



.or {
  width: 30%; 
  text-align: center; 
  border-bottom: 1px solid #AAAAAA; 
  line-height: 0.1em;
} 

 .or-span { 
  background:#fff; 
  padding:0 10px; 
}

.buttons{
  border:1px solid #C7C7C7;
  cursor:pointer;
}

.fb-icon {
  font-size:30px
}

.ms-6{
  margin-left: 6.4rem;
}




