/* .map-h2 {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 20px;
    padding-left: 10px;
    text-align: center;
  } */

  .google-map {
    width: 500px;
    height: 702px;
    border-radius: 13px;
    overflow: hidden;

  }

  
  @media screen and (min-width: 799px) {
    .google-map {
    width: 32.6vw;
    height: 98.4vh;
    }
  }